<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>@MACOSX_BUNDLE_BUNDLE_NAME@</string>
	<key>CFBundleExecutable</key>
	<string>@STARSHIP_APP_NAME@</string>
	<key>CFBundleIdentifier</key>
	<string>@MACOSX_BUNDLE_GUI_IDENTIFIER@</string>
	<key>CFBundleVersion</key>
	<string>@MACOSX_BUNDLE_BUNDLE_VERSION@</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>@MACOSX_DEPLOYMENT_TARGET@</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHumanReadableCopyright</key>
	<string>@MACOSX_BUNDLE_COPYRIGHT@</string>
  <key>LSUIElement</key>
  <true/>
</dict>
</plist>
